<div class="form-floating mb-3">
  {{ main_settings_form.voting_title }}
  <label for="{{ main_settings_form.voting_title.id_for_label }}">
    {{ main_settings_form.voting_title.label }}
  </label>
  {% if main_settings_form.errors.voting_title %}
    <div id="voting_title_error" class="form-text text-danger">{{ main_settings_form.errors.voting_title.0 }}</div>
  {% endif %}
  <div id="voting_title_help" class="form-text">{{ main_settings_form.voting_title.help_text }}</div>
</div>
<div class="form-floating mb-3">
  {{ main_settings_form.voting_description }}
  <label for="{{ main_settings_form.voting_description.id_for_label }}">
    {{ main_settings_form.voting_description.label }}
  </label>
  {% if main_settings_form.errors.voting_description %}
    <div id="voting_description_error" class="form-text text-danger">{{ main_settings_form.errors.description.0 }}</div>
  {% endif %}
  <div id="voting_description_help" class="form-text">{{ main_settings_form.voting_description.help_text }}</div>
</div>
<div class="form-floating mb-3">
  {{ main_settings_form.voting_type }}
  <label for="{{ main_settings_form.voting_type.id_for_label }}">
    {{ main_settings_form.voting_type.label }}
  </label>
  {% if main_settings_form.errors.voting_type %}
    <div id="voting_type_error" class="form-text text-danger">{{ main_settings_form.errors.voting_type.0 }}</div>
  {% endif %}
</div>
<div class="mb-3">
  <label for="{{ main_settings_form.voting_finish_time.id_for_label }}" class="form-label">
    {{ main_settings_form.voting_finish_time.label }}
  </label>
  <div class="d-flex">
    {{ main_settings_form.voting_finish_time }}
  </div>
  {% if main_settings_form.errors.voting_finish_time %}
    <div id="voting_finish_time_error"
         class="form-text text-danger">{{ main_settings_form.errors.voting_finish_time.0 }}</div>
  {% endif %}
  <div id="voting_finish_time_help" class="form-text">{{ main_settings_form.voting_finish_time.help_text }}</div>
</div>
<div class="mb-3 form-check">
  {{ main_settings_form.voting_is_active }}
  <label for="{{ main_settings_form.voting_is_active.id_for_label }}" class="form-check-label">
    {{ main_settings_form.voting_is_active.label }}
  </label>
  {% if main_settings_form.errors.voting_is_active %}
    <div id="voting_is_active_error"
         class="form-text text-danger">{{ main_settings_form.errors.voting_is_active.0 }}</div>
  {% endif %}
</div>
<div class="mb-3">
  <button type="submit" class="btn btn-primary w-100">Сохранить</button>
</div>
<div class="form-text text-danger">
  {{ main_settings_form.non_field_errors.0 }}
</div>
{% csrf_token %}
